---
import { getCollection } from "astro:content";
import Banner from "../../components/Banner.astro";
import Label from "../../components/Label.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

var date = new Date();
date.setFullYear(date.getFullYear() - 2);

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title + " | Gerben Veenhof"} description={entry.data.description}>
  <h1>{entry.data.title}</h1>
  <div hidden data-pagefind-meta="description">{entry.data.description}</div>
  <p class="date">
    {entry.data.date.toLocaleDateString()}
  </p>
  <p>
    {
      entry.data.tags.map((tag) => (
        <Label href={"/posts/" + tag.toLowerCase() + "/1"}>{tag}</Label>
      ))
    }
  </p>
  {
    new Date(entry.data.date) < date ? (
      <Banner icon="mdi:warning-octagon" second={true}>
        <p>
          This post is older than 2 years
          <span class="banner">({entry.data.date.toLocaleDateString()})</span>,
          things might have changed! <br/> Please check for yourself if something has
          been updated/depricated!
        </p>
      </Banner>
    ) : null
  }
  <Content />
</Layout>

<style lang="scss">
  h1 {
    margin-bottom: 0;
  }

  .date {
    font-style: italic;
    margin-top: 0;
  }
</style>
