---
import { Icon } from "astro-icon/components";

export interface Props {
  id?: string;
  href: string;
  icon?: string;
  nofollow?: boolean;
  flipIcon?: boolean;
}

const {
  id,
  href = "#",
  icon = null,
  nofollow = true,
  flipIcon = false,
} = Astro.props;
---

<a id={id} class="button" href={href} rel={nofollow ? "nofollow" : ""}>
  <div class="flex">
    {
      icon && !flipIcon && (
        <Icon name={icon} aria-hidden="true" aria-label={icon} />
      )
    }
    <slot />
    {
      icon && flipIcon && (
        <Icon name={icon} aria-hidden="true" aria-label={icon} />
      )
    }
  </div>
</a>

<style lang="scss">
  .button {
    display: inline-block;
    background-color: $template-color-accent;
    font-family: $template-header-font;
    font-size: 1.3rem;
    color: $template-color;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    width: calc(100% - 26px);
    padding: 12px 0;
    margin: 10px;
    user-select: none;

    .flex {
      margin: 0 10px;
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;

      svg {
        height: 35px;
        flex-shrink: 0;
      }
    }

    &:hover {
      cursor: pointer;
      filter: brightness(0.85);
      color: $template-color;
    }

    @include media(">=tablet") {
      margin: 25px;
      display: inline-flexbox;
      padding: 12px 24px;
      width: auto;
    }
  }
</style>
